{% extends "base.html" %}
{% block content %}

<div style="
    max-width:500px;
    margin:auto;
    padding:30px;
    background:white;
    border-radius:12px;
    box-shadow:0 6px 18px rgba(0,0,0,0.1);
    text-align:center;
">

    <h2 style="color:#16a34a;">✅ Entry Made Successfully</h2>

    <p style="margin-top:20px; font-size:18px;">
        Invoice Amount = 
        <strong>₹ {{ "%.2f"|format(invoice_amount) }}</strong>
    </p>

    <a href="/dashboard" style="
        display:inline-block;
        margin-top:30px;
        padding:10px 20px;
        background:#111827;
        color:white;
        text-decoration:none;
        border-radius:6px;
        font-weight:bold;
    ">
        Close
    </a>

</div>

{% endblock %}