{% extends "base.html" %}
{% block content %}

<h2 style="margin-bottom:25px;">👷 Labour Dashboard</h2>

<div style="display:grid;grid-template-columns:repeat(2,1fr);gap:25px;">

{% for d in data %}
<a href="/labour-details/{{ d[0] }}" style="text-decoration:none;">
    <div style="
        padding:30px;
        border-radius:14px;
        color:white;
        font-weight:bold;
        box-shadow:0 10px 25px rgba(0,0,0,0.1);
        {% if d[0]=='SV' %}background:#2563eb;
        {% elif d[0]=='LK' %}background:#16a34a;
        {% elif d[0]=='KD' %}background:#ea580c;
        {% elif d[0]=='KP' %}background:#db2777;
        {% endif %}
    ">

        <div style="font-size:26px;margin-bottom:15px;">
            {{ d[1] }} ({{ d[0] }})
        </div>

        <div style="font-size:18px;">
            Total Sadaram: {{ "%.3f"|format(d[2]) }}
        </div>

        <div style="font-size:18px;margin-top:8px;">
            Advance Given: ₹ {{ "%.2f"|format(d[3]) }}
        </div>

    </div>
</a>
{% endfor %}

</div>

{% endblock %}