{% extends "base.html" %}
{% block content %}

<h2>Truck Entry</h2>

<form method="POST">

    <label>Supervisor</label>
    <select name="supervisor" required>
        <option value="">Select Supervisor</option>
        <option value="BALESH">BALESH</option>
        <option value="ELISHA">ELISHA</option>
    </select>

    <label>Labour Group</label>
    <select name="labour_code" required>
        <option value="">Select Labour Group</option>
        <option value="SV">Sivanna (SV)</option>
        <option value="KP">Kupendra (KP)</option>
        <option value="LK">Lakshmanna (LK)</option>
        <option value="KD">Kondayya (KD)</option>
    </select>

    <label>Vehicle Number</label>
    <input type="text" name="vehicle" required>

    <label>Buyer Name</label>
    <input type="text" name="buyer" required>

    <label>Stone Size</label>
    <select name="stone_code" required>
        <option value="">Select Size</option>
        <option value="2x2">2ft x 2ft</option>
        <option value="3x2">3ft x 2ft</option>
        <option value="4x2">4ft x 2ft</option>
        <option value="5x2">5ft x 2ft</option>
        <option value="6x2">6ft x 2ft</option>
        <option value="7x2">7ft x 2ft</option>
    </select>

    <label>No. of Pieces</label>
    <input type="number" name="pieces" required>

    <label>Rate</label>
    <input type="number" step="0.01" name="rate" required>

    <label>Paid Amount</label>
    <input type="number" step="0.01" name="paid" required>

    <button type="submit">Submit</button>

</form>

{% endblock %}